
@import "mixin";

body {
    background-color: rgb(184, 184, 184);
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 3%;
    height: 151px;
    
}

h1{
    @include textos (70px, center);

}

h4{
    font-weight:bold;
    @include textos (20px, center);
}

a{
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    @include textos (30px, center)
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.menu{
    position: relative;
    right: 1%;
    background-color: white;
    border-radius: 20px;
    height: 30%;
    width: 15%;

}

.desplegable .menu{  //Va a estar todo oculto el menu asociado a .desplegable
    display: none;
    overflow: hidden;
    position: absolute;
}

.desplegable:hover .menu { //Al hacer hover en .desplegable aparece .menu
    display: block;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    height: 80vh;
}

.boton{
    display: flex;
    justify-content: start;
    width: 250px;
    background-color: white;
    padding: 1% 2% 1% 2%;
    border-color: black;
    border-radius: 10px;
    border-style:  solid;
}

.boton .desc{
    display:none;
}

.boton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    height: fit-content;
}

.boton:hover .desc{
    display:flex;
}