
@media(max-width: 1000px){

    header {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0% 5% 0% 5%;
        height: 100px;
    }


    h1{
        @include textos (30px, center)
    
    }
    
    a{
        margin: 0px 10px 0px 10px;
        text-decoration: none;
        @include textos (20px, center)
    }
}